* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #212529;
    font-size: 18px;

    transition: all .5s;
    animation-name: appear;
    animation-duration: .8s;
}

p {
    margin: 0;
}

@keyframes appear {
    from {
        opacity: 0;
        transition: opacity;
    }

    to {
        opacity: 1;
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(0px);
    }
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Navigation */
header {
    padding: 12px 48px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
}

.hide-overflow {
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
}

nav li {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav li a {
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    color: inherit;
}

nav li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    content: "";
    width: 0;
    height: 1.5px;
    background-color: #212529;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

nav li a:hover::after {
    width: 100%;
}

nav #resume {
    margin-right: 48px;
    position: absolute;
    right: 0;
}

#nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-icon {
    display: none;
}

/* Sections */
section {
    min-height: 100vh;
    width: 100%;
}

.display-1,
.display-2,
.display-6 {
    font-weight: 550;
    font-family: "League Spartan", sans-serif;
}

/* Home Section */
#home {
    text-align: center;
}

#home-content {
    flex: 1;
}

#home .display-1 {
    font-size: 90px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 10px;
}

#home .display-6 {
    font-size: 36px;
    padding: 0 10px 10px 10px;
}

#social-links img {
    margin: 15px;
    transition: all 0.3s ease-in-out;
}

#social-links img:hover {
    transform: scale(1.1);
}

#scroll-down-icon {
    margin: 20px;
    animation: scrollDown 1.5s infinite;
}

/* About Section */
#about {
    padding: 30px 0;
    padding-left: 0;
    position: relative;
    min-height: fit-content;
    height: fit-content;
    padding-bottom: 100px;
}

#about-content {
    padding: 0 20%;
    /* Add if gradient line is active */
    /* padding-left: 475px;
    padding-right: 100px; */
}

#line-gradient {
    display: block;
    min-height: 100%;
    height: 100%;
    margin: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.gradient-icon {
    margin: 10px 0;
    margin-right: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 20px #fff;
}

.gradient-line {
    position: relative;
    margin-left: 10px;
    width: 5px;
    border-radius: 10px;
    height: 80%;
}

.gradient-line>* {
    position: absolute;
    left: -10px;
    top: 150px;
}

.gradient-paragraph {
    padding: 20px 0 36px 5px;
    min-width: 300px;
}

#experience .gradient-paragraph div {
    margin-bottom: 30px;
}

.gradient-paragraph p:not(.title) {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.85em;
}

.title {
    font-size: 0.95em;
    font-weight: 550;
}

#skills i {
    font-size: 60px;
    opacity: 0.8;
}

#skills img {
    height: 60px;
    opacity: 0.8;
}

#skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#scroll-down:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Projects Section */
#projects {
    padding: 30px 20%;
}

#projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.project {
    flex-basis: 375px;
    flex-grow: 0.5;
    flex-shrink: 0.5;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 100%;
}

.preview {
    display: block;
}

.description {
    display: none;
    padding: 20px;
}

.img-preview {
    position: relative;
}

.img-preview:hover {
    transform: scale(1.05);
}

.img-hover {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    color: white;
}

.preview .btn {
    margin: 10px;
    padding: 0 10px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 1);
}

.btn-description {
    font-family: 600;
    outline: none;
}

.btn-description:hover,
.btn-go-back:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Contact Section */
#contact-content {
    flex: 1;
}

/* Footer */
footer {
    text-align: center;
    background-color: rgb(29, 29, 29);
}

footer * {
    color: #fff;
}

@media screen and (min-width: 2171px) {
    #about {
        padding-bottom: 300px;
    }
}


@media screen and (min-width: 1647px) {
    #about {
        padding-bottom: 175px;
    }
}

/* Remove if gradient line is active */
@media screen and (min-width: 1350px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #about-content {
        width: 950px;
        padding: 0;
    }
}

/* Add if gradient line is active */
/* @media screen and (min-width: 1100px) {
    #about-content {
        padding-right: 15%;
    }
} */

@media screen and (max-width: 992px) {

    /* Hamburger Icon */
    #nav-icon {
        display: block;
        position: absolute;
        right: 48px;
        cursor: pointer;
        z-index: 5;
        margin-top: -14px;
    }

    #nav-icon span {
        display: block;
        width: 40px;
        height: 5px;
        margin: 5px 0;
        background-color: #212529;
        border-radius: 3px;
    }

    #nav-icon span:not(span#mid) {
        transition: all 0.3s ease 0s;
    }

    #nav-icon.activated span {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #nav-icon.activated span#top {
        transform: rotate(-45deg) translate(0, 14px);
    }

    #nav-icon.activated span#mid {
        transform: scale(0);
    }

    #nav-icon.activated span#end {
        transform: rotate(45deg) translate(0, -14px);
    }

    nav ul,
    nav #resume {
        position: static;
        padding: 0;
    }

    nav li a,
    nav #resume {
        color: #fff;
        font-size: 28px;
        margin: 24px 0;
    }

    .btn-outline-dark {
        color: #fff;
        border-color: #fff;
    }

    .btn-outline-dark:hover {
        background-color: #fff;
        color: #212529;
    }

    nav li a::after {
        background-color: #fff;
    }

    #nav-content {
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: rgb(29, 29, 29);
        transition: left 0.3s ease 0s;
        z-index: 3;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-content.activated {
        left: 0;
    }

    /* Hone Section */
    #home .display-1 {
        font-size: 4rem;
    }

    #home .display-6 {
        font-size: 2.5rem;
    }

    #about {
        padding: 30px 20%;
    }

    #about-content {
        padding: 0;
    }

    #line-gradient {
        display: none;
    }

    #line-gradient * {
        display: none;
    }
}

@media screen and (max-width: 685px) {
    nav ul {
        flex-direction: column;
    }

    nav ul a {
        margin: 24px 0;
        text-align: center;
        width: 100%;
    }

    #about,
    #projects {
        padding: 30px 30px;
    }

    #about-content {
        padding: 0;
    }
}