* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #212529;
    font-size: 18px;
    outline: none;

    transition: all .5s;
    animation-name: appear;
    animation-duration: .8s;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

acronym {
    text-decoration: none;
}

section {
    min-height: 100vh;
    width: 100%;
}

.display-1,
.display-2,
.display-6 {
    font-weight: 550;
    font-family: "League Spartan", sans-serif;
}

.display-2 {
    text-align: center;
}

.hide-overflow {
    overflow: hidden;
}

/* Navigation */
header {
    padding: 12px 48px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
}

nav li {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav li a {
    position: relative;
    padding-bottom: 5px;
}

nav li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    content: "";
    width: 0;
    height: 1.5px;
    background-color: #212529;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

nav li a:hover::after {
    width: 100%;
}

#resume {
    position: absolute;
    right: 0;
    margin-right: 48px;
}

#hamburger-icon {
    display: none;
}

/* Home Page background */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Home Section */
#home-content {
    flex: 1;
}

#home .display-1 {
    font-size: 90px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 10px;
}

#home .display-6 {
    font-size: 36px;
    padding: 0 10px 10px 10px;
}

.social-links img {
    margin: 15px;
    transition: all 0.3s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

img.scroll-down {
    margin: 20px;
    animation: bounce 1.5s infinite;
}

/* About Section */
#about {
    padding: 30px 20%;
    padding-bottom: 100px;
    min-height: fit-content;
    height: fit-content;
}

#about-content {
    max-width: 950px;
}

#skills {
    gap: 10px;
}

#skills i,
#skills img {
    opacity: 0.8;
}

#skills i {
    font-size: 60px;
}

#skills img {
    height: 60px;
}

a.underline:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

/* Projects Section */
#projects {
    padding: 30px 20%;
    padding-bottom: 100px;
    min-height: fit-content;
    height: fit-content;
}

#projects-content {
    gap: 30px;
}

.project {
    flex-basis: 375px;
    flex-grow: 0.5;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);

    width: 100%;
    perspective: 1000px;
    box-shadow: none;
}

.project-content {
    position: relative;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.3);
}

.project.show-back .project-content {
    transform: rotateY(180deg);
}

.project-description {
    display: none;
    padding: 20px;

    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}

.project-preview {
    display: block;
}

.project-img-preview {
    position: relative;
}

.project-img-preview:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project-img-hover {
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
}

.project button {
    padding: 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project .project-preview button {
    margin: 10px;
}

.project .btn-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.project .btn-dark:hover {
    background-color: rgba(0, 0, 0, 1);
}

.view-project-preview,
.view-project-description {
    border: none;
}

.view-project-preview:hover,
.view-project-description:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Contact Section */
#contact {
    padding: 30px 20%;
    padding-bottom: 100px;
    min-height: fit-content;
    height: fit-content;
}

#contact form {
    width: 80%;
    max-width: 800px;
}

#contact ::placeholder {
    font-size: 20px;
}

#contact input {
    width: 50%;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #212529;
    border-radius: 0;
}

#contact textarea {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 0;
}

#send-message {
    font-size: 28px;
    font-weight: 650;
    padding: 10px 35px;
    width: 50%;
    transition: 1s;
}

/* Footer */
footer {
    text-align: center;
    background-color: rgb(29, 29, 29);
}

footer * {
    color: #fff;
}

/* Responsive Design */
@media screen and (min-width: 2171px) {

    #about,
    #projects {
        padding-bottom: 300px;
    }
}

@media screen and (min-width: 1647px) {

    #about,
    #projects {
        padding-bottom: 175px;
    }
}

@media screen and (min-width: 1350px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {

    /* Navbar */
    header {
        background-color: transparent;
        box-shadow: none;
    }

    #nav-content {
        position: fixed;
        top: 0;
        left: -200%;

        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgb(29, 29, 29);
        transition: left 0.3s ease 0s;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-content.activated {
        left: 0;
    }

    #hamburger-icon {
        display: block;
        position: absolute;
        right: 48px;
        margin-top: -14px;
        z-index: 5;
        cursor: pointer;
    }

    #hamburger-icon span {
        display: block;
        background-color: #212529;
        margin: 5px 0;

        width: 40px;
        height: 5px;
        border-radius: 3px;
    }

    #hamburger-icon span:not(span#mid) {
        transition: all 0.3s ease 0s;
    }

    #hamburger-icon.activated span {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #hamburger-icon.activated span#top {
        transform: rotate(-45deg) translate(0, 14px);
    }

    #hamburger-icon.activated span#mid {
        transform: scale(0);
    }

    #hamburger-icon.activated span#end {
        transform: rotate(45deg) translate(0, -14px);
    }

    nav ul,
    #resume {
        position: static;
        padding: 0;
    }

    nav li a,
    #resume {
        color: #fff;
        font-size: 28px;
        margin: 24px 0;
    }

    nav li a::after {
        background-color: #fff;
    }

    #resume .btn-outline-dark {
        color: #fff;
        border-color: #fff;
    }

    #resume .btn-outline-dark:hover {
        background-color: #fff;
        color: #212529;
    }

    /* Sections */
    #home .display-1 {
        font-size: 4rem;
    }

    #home .display-6 {
        font-size: 2.5rem;
    }

    #contact form {
        width: 100%;
    }
}

@media screen and (max-width: 685px) {
    nav ul {
        flex-direction: column;
    }

    nav ul a {
        width: 100%;
        margin: 24px 0;
        text-align: center;
    }

    #about,
    #projects,
    #contact {
        padding-right: 30px;
        padding-left: 30px;
    }

    #contact input,
    #send-message {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .project button {
        font-size: 0.8rem;
    }
}

/* Animations */
@keyframes appear {
    from {
        opacity: 0;
        transition: opacity;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(0px);
    }
}